.center {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.612);
	animation: fadein 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }